        ../../../.atom/
        ../../../.bash_history
        ../../../.cache/
        ../../../.git-for-windows-updater
        ../../../.gitconfig
        ../../../.gitignore
        ../../../.matplotlib/
        ../../../.ssh/
        ../../../.vscode/
        ../../../3D Objects/
        ../../../AppData/
        ../../../Contacts/
        ../../../Downloads/
        ../../../Favorites/
        ../../../HackWave/
        ../../../IntelGraphicsProfiles/
        ../../../Links/
        ../../../Music/
        ../../../NTUSER.DAT
        ../../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf
        ../../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms
        ../../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms
        ../../.849C9593-D756-4E56-8D6E-42412F2A707B
        ../../Book.xlsx
        ../../CATERERS.pptx
        ../AutoCAD 2024 - English.lnk
        ../Capture.JPG
        ../DOC-20240311-WA0003.pdf
        ../Git Bash.lnk
        ../Google Chrome.lnk
        ../MISSING VIEW-Model.pdf
        ../MISSING VIEW-Modeladdi.pdf
        ../MISSING VIEW.bak
        ../MISSING VIEW.dwg
        ../New folder/
        ../TopTracker.lnk
        ../Visual Studio Code.lnk
        ../WhatsApp.lnk
        ../desktop.ini
        ../heel.JPG
        ../plot.log
        ../../Document 1.docx
        ../../Document.docx
        ../../Documents/
        ../../Getting started with OneDrive.pdf
        ../../Personal Vault.lnk
        ../../Pictures/
        ../../Presentation 1.pptx
        ../../Presentation 2.pptx
        ../../Presentation 3.pptx
        ../../Presentation 4.pptx
        ../../Presentation 5.pptx
        ../../Presentation 6.pptx
        ../../Presentation.pptx
        ../../desktop.ini
        ../../../Saved Games/
        ../../../Searches/
        ../../../Videos/
        ../../../cd
        ../../../configuration-Office2019Enterprise.xml
        ../../../configuration-Office2021Enterprise.xml
        ../../../configuration-Office365-x64.xml
        ../../../configuration-Office365-x86.xml
        ../../../cscript
        ../../../for
        ../../../livecovid/
        ../../../ntuser.dat.LOG1
        ../../../ntuser.dat.LOG2
        ../../../ntuser.ini
        ../../../package-lock.json
        ../../../package.json
        ../../../setup.exe
        ../../../test123/